.tr {
    background-color: #1f2937; 
    color: #f3f4f6;
    border-bottom: 1px solid #374151;
    transition: background 0.2s ease;
}

.tr:hover {
    background-color: #374151;
}

.cell {
    padding: 12px 16px;
    text-align: left;
    vertical-align: middle;
    font-size: 0.95rem;
    border-left: 1px solid #229fc5;
}

.cell:first-child {
    border-left: none;
}

.cell:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.btn {
    padding: 6px 12px;
    margin: 0 4px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: #f9fafb;
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #1d4ed8;
}

.btn:active {
    background-color: #1e40af;
}

.btn.delete {
    background-color: #dc2626;
}

.btn.delete:hover {
    background-color: #b91c1c;
}



input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #22c55e;
    /* margin: 0;  */
}


input[type="checkbox"]:active {
    width: 15px;
    height: 15px;
    accent-color: #22c55e; 
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
